# IntellJ
.idea/
*.yml
*.xml

# Test File
test/*.js

# log file & config
*.log

# webDriver
#webDriver/

# anothers restrict
.git

# node
package-lock.json
.node_modules/
node_modules/

# perso
main.js

# jenkins
jenkinsfile*